# server
MINECRAFT_HOME=/opt/minecraft
SERVER_NAME=1.20.1-2026-v2

# dirs
SERVER_DIR=$MINECRAFT_HOME/server
TOOLS_DIR=$MINECRAFT_HOME/tools
SERVICE_DIR=$MINECRAFT_HOME/services

# minecraft admin
MINECRAFT_ADMIN_DATA_DIR=$MINECRAFT_HOME/data/minecraft_admin
MINECRAFT_ADMIN_USERNAME=change-me
MINECRAFT_ADMIN_PASSWORD=change-me

# backup
BACKUP_DIR=/mnt/nas/backup/minecraft/$SERVER_NAME
BACKUP_RETENTION_DAYS=10

# rcon
MCRCON_BIN=$TOOLS_DIR/bin/mcrcon
RCON_HOST=127.0.0.1
RCON_PORT=25575
RCON_PASSWORD=change-me
