[Unit]
Description=Minecraft Server
After=network.target

[Service]
Type=simple
User=minecraft
Nice=1
EnvironmentFile=/opt/minecraft/minecraft.env
Environment="PATH=/home/minecraft/.local/bin:/usr/local/bin:/usr/bin:/bin"

SuccessExitStatus=0 1
Restart=on-failure
RestartSec=10
TimeoutStopSec=120

ProtectHome=true
ProtectSystem=full

ExecStart=/opt/minecraft/tools/start_server.sh
ExecStop=/opt/minecraft/tools/stop_server.sh 10

[Install]
WantedBy=multi-user.target
